.cf:after {
    content:" ";
    display:block;
    clear:both;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body {
	font-size: 16pt;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	font-weight: 600;
	background-color: #79b;
	overflow: hidden;
}

#wrapper {
	width: 100%;
	height: 85%;
	position: relative;
	overflow: scroll;
	margin-bottom: 0px;
}

#sender {
	position: fixed; bottom: 1px;
	border: solid 1px #ddd;
	width: 100%;
	height: 15%;
	min-height: 80px;
	background-color: white;
}

#sender textarea {
	border: 0;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-size: 100%;
}

div#sendButton {
	max-width: 8em;
	min-height: 2.7em;
	min-width: 8em;
	position: absolute;
	left: -12px;
	background-color: #68a
}

div#logoutButton {
	max-width: 8em;
	min-height: 2.7em;
	min-width: 8em;
	position: absolute;
	left: -12px;
	top: 3em;
}


#messages {
	width: 100%;
}

#messages div {
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 24px;
	margin-right: 24px;
	padding-top: 16px;
	padding-bottom: 16px;
	line-height: 1.35em;
	padding-left: 8px;
	border-radius: 16px;
}

#messages div#teacher {
	width: 60%;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 24px;
	margin-right: 24px;
	padding-top: 16px;
	padding-bottom: 16px;
	line-height: 1.35em;
	padding-left: 8px;
	border-radius: 16px;
}

#messages div.ou_even {
	background: #8f6;
	color: #000;
	border: 0px;
}
.ou_even:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: -12px;
	bottom: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #8f6;
	border-width: 10px 0 10px 20px;
	transform: rotate(180deg);
}

#messages div.ou_odd {
	background: #cef;
	color: #000;
	border: 0px;
}
.ou_odd:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: -12px;
	bottom: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #cef;
	border-width: 10px 0 10px 20px;
	transform: rotate(180deg);
}

#messages div#teacher {
	background-color: #fff;
	color: #000;
	padding-left: 8px;
}

#messages div.blank_box {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
	overflow: hidden;
}

